name: my_mono_repo
publish_to: "none"
environment:
  sdk: ^3.9.0

workspace:
  - apps/job_application_tracker
  - apps/budget_tracker
  - packages/flutter_core
  - packages/authentication
  - packages/notification
  - packages/location_tracking
  - packages/job_application
  - packages/budget_core

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  scripts:
    build-files:
      run: dart run build_runner build --delete-conflicting-outputs
      exec:
        concurrency: 1
      packageFilters:
        dependsOn: build_runner
    enforce_analysis_file:
      run: |
        find . -name analysis_options.yaml -not -path "./analysis_options.yaml" -delete
    test:
      run: melos exec -- flutter test
    outdated:
      run: flutter pub outdated
      exec:
        concurrency: 1
      packageFilters:
    upgrade:
      run: flutter pub upgrade --major-versions
      exec:
        concurrency: 1
      packageFilters:
  ignore:
    - firebase/**
