name: my_mono_repo
publish_to: "none"
environment:
  sdk: ^3.9.0

workspace:
  - apps/job_application_tracker
  - packages/flutter_core
  - packages/authentication
  - packages/notification
  - packages/location_tracking

dev_dependencies:
  build_runner: ^2.10.4
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  scripts:
    build_runner:
      run: melos exec -- dart run build_runner build --delete-conflicting-outputs
    enforce_analysis_file:
      run: |
        find . -name analysis_options.yaml -not -path "./analysis_options.yaml" -delete
